.theme-dark {
    --md-sys-color-primary: #c9bfff;
    --md-sys-color-on-primary: #381e72;
    --md-sys-color-primary-container: #4f378a;
    --md-sys-color-on-primary-container: #eaddff;
    --md-sys-color-secondary: #c8c2dc;
    --md-sys-color-on-secondary: #332d41;
    --md-sys-color-secondary-container: #4a4458;
    --md-sys-color-on-secondary-container: #e8def8;
    --md-sys-color-tertiary: #efb8c8;
    --md-sys-color-on-tertiary: #492532;
    --md-sys-color-tertiary-container: #633b48;
    --md-sys-color-on-tertiary-container: #ffd8e4;
    --md-sys-color-error: #f2b8b5;
    --md-sys-color-on-error: #601410;
    --md-sys-color-error-container: #8c1d18;
    --md-sys-color-on-error-container: #f9dedc;
    --md-sys-color-background: #1d1b20;
    --md-sys-color-on-background: #e6e1e5;
    --md-sys-color-surface: #1d1b20;
    --md-sys-color-on-surface: #e6e1e5;
    --md-sys-color-surface-variant: #49454f;
    --md-sys-color-on-surface-variant: #cac4d0;
    --md-sys-color-outline: #938f99;
    --md-sys-color-outline-variant: #49454f;
    --md-sys-color-surface-container-low: #201e23;
    --md-sys-color-surface-container: #242227;
}
